@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* GENERAL CLASSES */
body {
    overflow-x: hidden;
}

header {
    height: calc(100vh - 80px); /* Subtracts the height of the nav bar */
}

footer {
    background-color: #242424;
}

nav {
    height: 80px;
    display: flex;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 50px;
    color: #7342d6;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.purple {
    color: #7342d6;
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.no-cursor {
    cursor: not-allowed;
}

/* BURGER MENU SECTION */
.btn__menu {
    background-color: transparent;
    font-size: 48px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.menu__backdrop {
    position: absolute; /* Makes it so that this item is in it's own world, not relative to anything */
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; /* Can't animate when using 'display:none', so we use visibility and opacity instead */
    opacity: 0;
    transition: all 300ms ease; /* Using 'all' here instead of just 'opacity' because we also want to transition 'visibility'*/
}

.menu__list {
    padding: 32px 0;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    color: white;
    font-size: 40px;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

/* NAV BAR SECTION */
#landing {
    background-color: rgba(115, 66, 214, 0.1);
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex; /* This makes the class 'flex' */
    justify-content: space-between; /* Can only do this because the class is 'flex' */
    align-items: center; /* Can only do if the class is 'flex' */
    margin: 0 auto;
}

.logo {
    width: 160px;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link-primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.nav__link-primary:hover {
    text-decoration: none;
}

/* HEADER SECTION */
.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center; /* Pretty much the same as setting a max-width on the button */
}

.header__img--wrapper {
    padding: 20px;
    z-index: 2; /* Makes sure it's above the wave image */
}

.header__img--wrapper img {
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

/* HIGHLIGHTS SECTION */
#highlights {
    position: relative; /* Make this relative so that children can usd absolute positioning */
}

/* Always include the 'content' tag for pseudo-selectors */
#highlights:before,
#highlights:after {
    content: "";
    background: url("assets/wave.svg");
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

#highlights:before {
    top: 1px;
    transform: translateY(-100%);
}

#highlights:after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}

.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 3); /* Makes each highlight 33% of thw width */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.highlight__img {
    border: 2px solid #7342d65d;
    color: #7342d6;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.highlight__paragraph {
    text-align: center;
    max-width: 280px;
}

/* FEATURED SECTION */
#featured {
    padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1);
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 25%;
    padding: 24px;
}

.book__img--wrapper {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book__img {
    max-height: 380px;
    cursor: not-allowed;
    transition: all 300ms ease;
}

.book:hover .book__img {
    transform: scale(1.05);
}

.book__title {
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings {
    color: #fabf2a;
    margin-bottom: 8px;
}

.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}

/* EXPLORE SECTION */
#explore {
    background-color: rgba(115, 66, 214, 0.1);
}

/* FOOTER SECTION */
.footer__logo {
    display: flex;
}

.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
    color: white;
}

.footer__list {
    margin: 20px 0 24px 0;
}

.footer__link {
    padding: 0 8px;
}

/* FOR SMALL PHONES, TABLETS, AND LARGE SMARTPHONES */
@media (max-width: 768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 18px;
    }

    .book {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .highlight {
        width: 100%;
    }

    .highlight:not(:last-child) {
        margin-bottom: 24px;
    }
}